@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Movie And Stuff</h1>
<div class="row mb-2">
    <div class="col-8">
        <h2>Dead Pool</h2>
        <p>blah blah blah</p>
    </div>
    <div class="col-4">
        <img src="~/img/dp.jpg" />
    </div>
</div>

<div class="row mb-2">
    <div class="col-8">
        <h2>Current Admin</h2>
        <p>yet another blah blah blah</p>
    </div>
    <div class="col-4">
        <img src="~/img/bills.jpg" />
    </div>
</div>